.sub-navbar {
  display: flex;
  justify-content: center;
}

.sobre-pages {
  width: 90%;
  display: flex;
  border-bottom: solid 1px rgb(219, 214, 214);
}

.sobre-pages .submenus {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.sobre-pages .submenus i {
  margin: 0px 3px;
  font-size: 13px;
}

.sobre-pages .submenus span {
  font-family: Rawline;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.sobre-pages .submenus span:hover {
  color: #1351b4;
  cursor: pointer;
}
